* {
    margin: 0;
}

body {
    min-height: 100vh ;
    transition: background 1s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}


body.meteo-soleil {
    background: linear-gradient(#4facfe, #00f2fe)
}

body.meteo-nuages {
    background: linear-gradient(#2c3e50, #4a6274);
}

body.meteo-pluie {
    background: linear-gradient(#1a1a2e, #16213e);
}

body.meteo-neige {
    background: linear-gradient(#e0eafc, #cfdef3);
}

body.meteo-orage {
    background: linear-gradient(#0f0c29, #302b63);
}

#card {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: fit-content;
    width: fit-content;
    padding: 20px 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

